* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

.profileimg {
    width: 40%;
    /* height: 33%; */
    padding: -5px;
    align-items: center;
    margin-left: 80px;
    margin-top: 40px;
    border-block-color: 2px solid black;
    /* border-block-color: inherit; */
    border-color: black;
    border-radius: 69px;
    background-color: black;
}

.text {
    font-size: 12px;
}

.top-50 {
    top: 63% !important;
}

.icons {
    /* display: block; */
    margin-left: 91px;
}

.about-section {
    background: url(pic.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.inner-container {
    width: 55%;
    float: right;
    background-color: #eaeaea;
    padding: 150px;
    border-radius: 0 0 0 5px;
    border-radius: 18px;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    color: black;

}

.text {
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
    color: black;
}

@media screen and (max-width:1200px) {
    .inner-container {
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }

    .inner-container {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about-section {
        padding: 0;
    }

    .inner-container {
        padding: 60px;
    }
}